<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Angular OCR Translation</span>
        </a>
      </header>
      <div class="alert alert-danger" role="alert">
        Google APIs and Heroku is not avaliable any more.
      </div>

      <div class="p-5 rounded-3">
        <div class="container">
          <div class="row">
            <div class="col-8 mt-4">
              <h1 class="display-5 fw-bold">OCR</h1>
              <p class="col-md-8 fs-4">When upload image it will create preview and convert to base64 before send to
                Google Vision Api to detect text in the image.</p>
              <div class="input-group mb-3">
                <div class="col-8">
                  <input type="file" class="form-control" (change)="onSelectFile($event)">
                </div>
              </div>
            </div>
            <div class="col-3">
              <img [src]="img" width="300">
            </div>
          </div>
        </div>

        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Detected Text</h2>
              <p>Before use translate please check the text that response if have some error you can edit before choose
                language in the next step.</p>
              <div class="form-group">
                <label for="inputText">Input Text</label>
                <textarea [(ngModel)]="inputText" class="form-control text-white bg-dark" rows="10"></textarea>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Translated Text</h2>
              <p>This is the final result of the text, please choose language below.</p>
              <div class="col">
                <div class="form-group">
                  <label for="select-language">Select Language</label>
                  <select class="form-control" (change)="translate()" [(ngModel)]="targetLanguage">
                    <option disabled selected value>-- select an option --</option>
                    <option *ngFor="let n of lnList" value={{n.code}}>{{n.name}}</option>
                    <!-- <option value="en">en</option>
                      <option value="th">th</option> -->
                  </select>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="translated-text">Translated Text</label>
                <textarea [(ngModel)]="translatedText" class="form-control" rows="10"></textarea>
              </div>
            </div>
          </div>
        </div>


      </div>

      <footer class="pt-3 mt-4 text-muted border-top">created by Pannavach</footer>
    </div>
  </main>
</body>

</html>
<router-outlet></router-outlet>